registry=https://hikick-547032093617.d.codeartifact.ap-northeast-1.amazonaws.com/npm/hikick/
//hikick-547032093617.d.codeartifact.ap-northeast-1.amazonaws.com/npm/hikick/:always-auth=true
//hikick-547032093617.d.codeartifact.ap-northeast-1.amazonaws.com/npm/hikick/:_authToken=${CODEARTIFACT_AUTH_TOKEN}